## Default configuration file. Expected at ~/niprov.cfg. See documentation:
## http://niprov.readthedocs.org/en/latest/configuration.html
[main]
database_type = file
database_url = ~/provenance.json
verbose = no
dryrun = no

