svg rect { 
    fill: red;
    opacity: 0.5;
}
svg text {
    font-family: sans-serif;
    fill: black;
}
svg line {
    stroke: black;
    stroke-width: 5px;
}
svg path {
    stroke: blue;
    stroke-width: 5px;
    fill: blue;
}
